<mat-card>
	<mat-card-content>
	 	<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
			<mat-form-field><input matInput placeholder="Title" formControlName="title" /></mat-form-field><br>
			<mat-form-field><input matInput placeholder="Image URL" formControlName="image" /></mat-form-field><br>
			<mat-form-field><textarea matInput placeholder="Description" formControlName="description"></textarea></mat-form-field><br>
			<!-- Description: <input formControlName="description" /><br> -->
			<button mat-button (click)="cancel()">
				Cancel
			</button>
			<button mat-button type="submit" [disabled]="form.pristine">
				Save
			</button>
		</form>
	</mat-card-content>
</mat-card>
